
/*!*navigation bar styling*!*/
/*!* reference: https://www.w3schools.com/css/css_navbar_horizontal.asp & https://www.w3schools.com/howto/howto_css_topnav_right.asp *!*/
.navMenu{
    background-color: #272343;
    overflow: hidden;
}

/*!*navigation bar styling*!*/
/*!* reference: https://www.w3schools.com/css/css_navbar_horizontal.asp & https://www.w3schools.com/howto/howto_css_topnav_right.asp *!*/
.navMenu a{
    float:left;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fffffe;
}

/*!*navigation bar styling*!*/
/*!* reference: https://www.w3schools.com/css/css_navbar_horizontal.asp & https://www.w3schools.com/howto/howto_css_topnav_right.asp *!*/
.navMenu a:hover{
    /*change the color of the navigation menu when mouse is hovering (to yellow)*/
    background-color: #ffd803;
}

/*!*navigation bar styling*!*/
/*!* reference: https://www.w3schools.com/css/css_navbar_horizontal.asp & https://www.w3schools.com/howto/howto_css_topnav_right.asp *!*/
.navMenu-right{
    float: right;
}

/*!*navigation bar styling*!*/
/*!* reference: https://www.w3schools.com/css/css_navbar_horizontal.asp & https://www.w3schools.com/howto/howto_css_topnav_right.asp *!*/
.linkButton{
    border: none;
    font-size: 30px;
    color: white;
    background-color: darkslateblue;
    padding: 10px 14px;
    cursor: pointer;
}

/*paragraph styling for the reference text found at the bottom of pages with images*/
.picReference{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

/*index.html - center the text*/
.intro{
    display: block;
    margin: auto;
    text-align: center;
}

/*index.html - bold "Hi! I'm Judy" portion*/
.intro p{
    font-size: 50px;
    font-weight: bold;
    color: #232323;
}

/*index.html - alter the unordered list entries*/
.intro ul{
    font-size: 32px;
    font-style: italic;
    color: #078080;
    /*get rid of bullet point styling*/
    list-style: none;
}

/*portfolio.html - textbox overflow*/
/*reference: https://www.w3schools.com/cssref/pr_pos_overflow.asp*/
.projectsList{
    /*center the textbox*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    /*textbox properties*/
    width: 1000px;
    height: 500px;
    overflow: scroll;
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.slideshow-container {
    /*styling for the carousel container to be in the middle with specified width*/
    max-width: 800px;
    position: relative;
    margin: auto
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.mySlides {
    /*styling for the images in the carousel*/
    display: none;
    height: 400px;
    border: solid 1px black;
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.prev,
.next {
    /*styling for the previous and next cursors*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.dot {
    /*styling for the dots that are used in the carousel */
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

/*index.html - CSS for the carousel*/
/*reference: Matthew Croak (https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9)*/
.active,
.dot:hover {
    background-color: #717171
}
